<div class="center">
    <div class="counter">
        <div class="firstMethod">
            First method counter: <b>{{ firstMethod }}</b>
        </div>
        <div class="secondMethod">
            Second method counter: <b>{{ secondMethod }}</b>
        </div>

        <div class="buttons">
            <div class="addOneBtn">
                <button (click)="add()">+</button>
            </div>
    
            <div class="lessOneBtn">
                <button (click)="less()">-</button>
            </div>

            <div class="sendToClient">
                <button (click)="sendToClient()">Send to Client</button>
            </div>
        </div>
    </div>
</div>
